body {
  color: white;
  background-color: black;
  font: 1.1em;
}

a {
  color: white;
}

.reset {
  color: white;
}

.bg-reset {
  background-color: black;
}

.inverted {
  color: black;
}

.bg-inverted {
  background-color: white;
}

.dimgray {
  color: dimgray;
}

.red {
  color: red;
}

.green {
  color: lime;
}

.yellow {
  color: yellow;
}

.blue {
  color: #3333FF;
}

.purple {
  color: fuchsia;
}

.cyan {
  color: aqua;
}

.white {
  color: white;
}

.bg-black {
  background-color: black;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: lime;
}

.bg-yellow {
  background-color: yellow;
}

.bg-blue {
  background-color: #3333FF;
}

.bg-purple {
  background-color: fuchsia;
}

.bg-cyan {
  background-color: aqua;
}

.bg-white {
  background-color: white;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.blink {
  text-decoration: blink;
}

.crossed-out {
  text-decoration: line-through;
}

.highlighted {
  filter: contrast(70%) brightness(190%);
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.blink {
  animation: blink-animation 1.5s steps(2, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.checkControl {
  display: none;
}

.toggleContent {
  display: none;
}

a, .clickable {
  font-weight: bold;
  cursor: pointer;
}

input.checkControl:checked+label.clickable, .clickable:hover, a:hover {
  background-color: white;
  color: black;
}

input.checkControl:checked+label+.toggleContent {
  display: inline;
}